<% flash.each do |type, msg| %>
    <% if type == "error" %>
        <div class="alert alert-danger"><%= msg %> </div>
    <% elsif type == "success" %>
        <div class= "alert alert-success"><%= msg %> </div>
    <% elsif type == "info" %>
        <div class= "alert alert-danger"><%= msg %> </div>
    <% end %>
<% end %>


<div class = "jumbotron bg-dark mr-4 ml-4 mt-5" >
  <h1 align="center", > ALL USERS </h1>
<table class="my-table table-bordered", style = "color:white">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Fullname</th>
        <th scope="col">email</th>
        <th scope="col">Admin role</th>
        <th scope="col">created_at</th>
        <th scope="col">delete</th>
        <!-- <th scope="col">show</th> -->
        <th scope="col">make admin</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>  
      <tr>
        <td><%= user.fullname %> </td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= time_ago_in_words(user.created_at) %> ago</td>
        <td><%= link_to "delete", users_path + "/delete/#{user.userid}", data: {confirm: "Are you sure bout that"}, :class => "btn btn-primary" %></td> 
        <% if user.role == false  %>
          <td><%= link_to "make_admin", users_path + "/makeadmin/#{user.id}", :class => "btn btn-danger" %></td>
        <% else %>
          <td><%= link_to "remove_admin", users_path + "/makeadmin/#{user.id}", :class => "btn btn-primary" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  </div>