<div class="edit">
  <h1>edit </h1>
  <% flash.each do |type, msg| %>
  <% if type == "error" %>
      <div class="alert alert-danger"><%= msg %> </div>
  <% elsif type == "success" %>
      <div class= "alert alert-success"><%= msg%> </div>
  <% elsif type == "info" %>
      <div class= "alert alert-danger"><%= msg%> </div>
  <% end %>
  <% end %>
  
  <%= form_with scope: :project, url: user_project_path,  local: true,  method: :patch do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, :class => "form-control" %>
    </p>
   
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body, :class => "form-control", :rows => "9"%>
    </p>
   
    <div class="custom-file col-md-6">
      <%= form.label :attachments,  class: "col-md-4 control-label mt-3" %>
       <%= form.file_field :attachments, :multiple => true  %>
   </div>
  
    <p>
      <%= form.submit "update", :class => "btn, btn-primary" %>
    </p>
  
  <% end %>
  
</div>