
<% flash.each do |type, msg| %>
    <% if type == "error" %>
        <div class="alert alert-danger"><%= msg %> </div>
    <% elsif type == "success" %>
        <div class= "alert alert-success"><%= msg %> </div>
    <% elsif type == "info" %>
        <div class= "alert alert-danger"><%= msg %> </div>
    <% end %>
<% end %>

<div class = "container" style = "justify-content: center">
    <div class = "row"> 
        <% @projects.each do |project| %>  
            <div class="project-card" style = "margin:10px;">
                <h5 class="card-title"><p>Title: <%= project.title %> </p></h5>
                <h6 class="card-subtitle mb-2 text-muted"><p> Created: <%= time_ago_in_words(project.created_at) %></p></h6>
                <p class="card-text"><%= project.body.length > 80 ? project.body[0..77] + '...' : project.body %></p>
                <div class="action">
                    <%= link_to  user_project_add_task_index_path(:project_id => project.id) do %>
                        <img src="https://img.icons8.com/windows/32/000000/task.png" style= "width: 30px">
                    <% end %>
                    <%= link_to "/users/#{session[:id]}/projects/#{project.id}/add_task" do %>
                        <img src="https://img.icons8.com/wired/64/000000/add-column.png" style= "width: 30px">
                    <% end %>
                    <%= link_to  user_project_add_users_index_path(:project_id => project.id) do %>
                        <img src="https://img.icons8.com/ios-glyphs/30/000000/add-user-group-man-man.png" style= "width: 30px">
                    <% end %>
                    <%= link_to users_path+"/#{project.user_id}/projects/#{project.id}" do %>
                        <img src="https://img.icons8.com/ios-glyphs/30/000000/reading.png">
                    <% end %>
                    <%= link_to users_path+"/#{project.user_id}/projects/#{project.id}/edit" do %>
                        <img src="https://img.icons8.com/metro/26/000000/edit.png">
                    <% end %>
                    <%= link_to users_path+ "/#{project.user_id}/projects/#{project.id}", data: {confirm: "Are you sure bout that"}, method: "delete" do %>
                        <img src="https://img.icons8.com/dusk/64/000000/delete-sign.png" style= "width: 30px">
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<%# <%= link_to "back", dashboard_users_path, :class => "btn btn-primary"%> 
