<% flash.each do |type, msg| %>
    <% if type == "error" %>
        <div class="alert alert-danger"><%= msg %> </div>
    <% elsif type == "success" %>
        <div class= "alert alert-success"><%= msg %> </div>
    <% elsif type == "info" %>
        <div class= "alert alert-danger"><%= msg %> </div>
    <% end %>
<% end %>


<div class="container mt-5" >	
    <%= link_to user_projects_path do %>
          <img src="/assets/back.png" style= "width: 50px">
      <% end %>
    <div class="col-md-9 pt-5 pb-5" style = "box-shadow: 5px 6px 11px 2px darkslategrey; border-radius: 10px">
            <h3 class = 'hello'> Hello <%= session[:fullname].capitalize() %> </h3>
        <div class="row row-span">
            <div class="col-sm-6 col-span  card-span">
                <div class="card">
                    <div class="card-body ">
                        
                        <h6 class="card-text">Total Tasks: <%= @tasks.length %> </h6>
                        <% @tasks.each do |task| %>
                            <div class="card row  card-span">
                                <h4>Task: <%= task.task %></h4>
                                <h6>Created: <%= time_ago_in_words(task.created_at) %> ago </h6>
                                <h6>Created by: <%= task.user.fullname %> </h6>
                                <br>
                                <div class = "action">
                                    <%= link_to "/users/#{session[:id]}/projects/#{task.project_id}/edit_task/#{task.id}" do %>
                                        <img src="/assets/edit.png">
                                    <% end %>
                                    <%= link_to  "/users/#{session[:id]}/projects/#{task.project_id}/delete_task/#{task.id}", data: {confirm: "Are you sure bout that"}, method: "delete" do %>
                                        <img src="/assets/delete2.png" style= "width: 30px">
                                    <% end %>
                                </div>
                            </div>
                        <% end  %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div