
    
<table class="table table-striped mt-5", style="background-color: rgb(229, 229, 226);">
    <thead>
      <tr>
        <%# <th scope="col">#</th> %>
        <th scope="col">Name</th>
        <th scope="col">added</th>
        <th scope="col">Read</th>
        <th scope="col">write</th>
        <th scope="col">update</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
    <% @shared_users.each do |user| %>
      <tr>
        <td><%= User.find(user.user_id).fullname %> </td>
        <td><%= time_ago_in_words(user.created_at) %> </td>
        <td> <%= user.read %> </td>
        <td> <%= user.write %> </td>
        <td> <%= user.modify %> </td>
        <td> <%= user.trash %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  

