<div class = "jumbotron mt-3">
  <h3> New Project  </h3>


    <% flash.each do |type, msg| %>
    <% if type == "error" %>
        <div class="alert alert-danger"><%= msg %> </div>
    <% elsif type == "success" %>
        <div class= "alert alert-success"><%= msg%> </div>
    <% elsif type == "info" %>
        <div class= "alert alert-danger"><%= msg%> </div>
    <% end %>
    <% end %>


    
    <%= form_with scope: :project, url: user_projects_path,  local: true do |form| %>
      <p>
        <h2> Title </h2>
        <%= form.text_field :title, :class => "form-control" %>
      </p>
     
      <p>
        <h3> Body </h3>
        <%= form.text_area :body, :class => "form-control"%>
      </p>
     
      <div class="custom-file col-md-6">
        <%= form.label :attachments,  class: "col-md-4 control-label mt-3" %>
         <%= form.file_field :attachments, :multiple => true, :class => "form-control" %>
     </div>
      <br>
      <br>
      <p>
        <%= form.submit "create", :class => "btn, btn-primary"%>
      </p>
    
    <% end %>
    
    
</div>