<% flash.each do |type, msg| %>
    <% if type == "error" %>
        <div class="alert alert-danger"><%= msg %> </div>
    <% elsif type == "success" %>
        <div class= "alert alert-success"><%= msg %> </div>
    <% elsif type == "info" %>
        <div class= "alert alert-danger"><%= msg %> </div>
    <% end %>
<% end %>

<div class="project-container">

  <div class="project">
    <h2><p>Title: <%= @project.title %></p></h2>
    <h4>Created: <%= time_ago_in_words(@project.created_at)  %> ago </h4>
    <p> <%= @project.body %> </p>
    <%= link_to "back",  user_projects_path, :class => "btn btn-primary" %>
  </div>

  <div class="files">
      div

  </div>
</div>
<%# <div>
  <P>hello</P>
</div>

<div>

</div> %>

