<% flash.each do |type, msg| %>
    <% if type == "error" %>
        <div class="alert alert-danger"><%= msg %> </div>
    <% elsif type == "success" %>
        <div class= "alert alert-success"><%= msg %> </div>
    <% elsif type == "info" %>
        <div class= "alert alert-danger"><%= msg %> </div>
    <% end %>
<% end %>

<div class="project-container">
    <%= link_to user_projects_path do %>
        <img src="/assets/back.png" style= "width: 50px">
    <% end %>
  <div class="project">
 
    <h2><p>Title: <%= @project.title %></p></h2>
    <h4>Created: <%= time_ago_in_words(@project.created_at) %> ago </h4>
    <p> <%= @project.body %> </p>
    <%= link_to "back", user_projects_path, :class => "btn btn-primary" %>
  </div>

  <div class="side-view">
      <div class = "image-head">
        <br>
        <h4>Files</h4>
      </div>
      <div class="user-images">
        <div class="well" style="display: flex; flex-flow: row wrap; justify-content:space-around; margin: 5px;" align="center">
          <% @project.attachments.each do |file| %> 
            <% if file.image? %>
              <div class="images">
                  <%= image_tag file, :alt => "pic of me", :width => "90px", :height => "90px" %> <br>
                  <%= link_to "/projects/#{@project.id}/image/#{file.id}", data: { confirm: "Are you sure bout that" }, method: "delete" do %>
                    <img src="/assets/delete2.png" style= "width: 30px">
                  <% end %>
              </div>
            <% else %>
                  <div class="file">
                    <img src="/assets/file.svg"> 
                    <%= link_to "/projects/#{@project.id}/image/#{file.id}", data: { confirm: "Are you sure bout that" }, method: "delete" do %>
                       <img src="/assets/delete2.png" style= "width: 30px">
                    <% end %>
                    <%= link_to rails_blob_path(file, disposition: "attachment") do %>
                        <img src="/assets/download.png" style= "width: 20px" class = 'download'>
                    <% end %>
                    <p><%= file.blob.filename %></p>
                    
                  </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="user-threads">
          <h4>Thread count: <%= @topics.length %> </h4>
          <%= link_to "Go to threads", "/projects/#{@project.id}/topics/index", :class => "btn btn-outline-primary" %>
      </div>

      <div class="add-users">
        <%= form_with scope: :share_project,  url: user_project_add_user_path(:user_id => params[:user_id], :project_id => @project.id), local: true do |form| %>
            <p>
              <h4> <%= form.label :Add_User %> </h4>
              <%= form.text_field :user_id, :class => "form-control" %>
            </p>

            <%= form.check_box :read  %>
            <%= form.label :read %>|

            <%= form.check_box :write  %>
            <%= form.label :write %>| 

            <%= form.check_box :modify  %>
            <%= form.label :update %>

            <%= form.check_box :trash  %>
            <%= form.label :delete %>   

            <%= form.hidden_field :project_id, value: params[:id] %>
    
            
            
        
              <%= form.submit "Add", :class => "btn btn-outline-primary" %>
          <% end %>
    </div>
  </div>
</div>
            