<% flash.each do |type, msg| %>
    <% if type == "error" %>
        <div class="alert alert-danger"><%= msg %> </div>
    <% elsif type == "success" %>
        <div class= "alert alert-success"><%= msg %> </div>
    <% elsif type == "info" %>
        <div class= "alert alert-danger"><%= msg %> </div>
    <% end %>
<% end %>

<div class="thread-project-container">
    <%= link_to "/projects/#{params[:project_id]}/topics/index" do %>
    
        <img src="/assets/back.png" style= "width: 30px">
    <% end %>
    <div class="thread-section">
        <div class="heading">
            <h3> Thread: <%= @topic.title %> </h3>
        </div>
        <div class = "comments-head">
            <h5>Comments</h5>
        </div>
        <div class="topic-thread">
            <% @topic.messages.each do |message| %>
                <div class="comment-container">
                    <div class="comment">
                         <p> <strong>Comment:</strong> <%= message.message %></p> 
                         |By: <%= message.user.fullname %> |
                        posted: <%= time_ago_in_words(message.created_at) %> ago | <br>
                         <%= link_to "/projects/#{@project.id}/topic/#{@topic.id}/messages/#{message.id}/edit" do %>
                                <img src="/assets/edit.png">
                            <% end %>|<%= link_to "/projects/#{@project.id}/topic/#{@topic.id}/messages/#{message.id}", data: {confirm: "Are you sure bout that"}, method: "delete" do %>
                                <img src="/assets/delete2.png" style= "width: 30px"> <% end %>|
                         <%# </div> %>
                    </div>
                    <%# <div class="comments-buttons">
                        abc <br>
                        cde
                    </div> %>
                </div>
            <% end %>
        </div>
        <div class="post-form">
            <%= form_with scope: :message, url: "/projects/#{@project.id}/topic/#{@topic.id}/messages/new",  local: true do |form| %>
                    <p>
                        <%= form.text_area :message,:rows => 5, :class => "form-control" %>
                    </p>
                    <p>
                        <%= form.submit "post", :class => "btn, btn-primary" %>
                    </p>
            <% end %>
        </div>
       
        <%# <div>
            <h5>comments</h5>
        </div> %>

    </div>

  
    
    
    














</div>