
<% flash.each do |type, msg| %>
<% if type == "error" %>
    <div class="alert alert-danger"><%= msg %> </div>
<% elsif type == "success" %>
    <div class= "alert alert-success"><%= msg %> </div>
<% elsif type == "info" %>
    <div class= "alert alert-danger"><%= msg %> </div>
<% end %>
<% end %>

<div>
<div class = "c"> 
    <%= link_to users_path+"/#{session[:id]}/projects/#{@project.id}" do %>
        <img src="https://img.icons8.com/carbon-copy/100/000000/circled-left-2.png" style= "width: 50px">
    <% end %>
    <% if session[:id] == @project.user_id %>
        <div class="user-create-thread">
            <%= form_with scope: :topic, url: "/#{@project.user_id}/projects/#{@project.id}/topic/new", local: true do |form| %>
            <p>
                <h4> <%= form.label :New_thread %> </h4>
                <%= form.text_field :title, :class => "form-control" %>
            </p>

            <p>
                <%= form.submit "create", :class => "btn btn-outline-primary" %>
            </p>
            <% end %>
        </div>
    <% end  %>
    <% @topics.each do |topic| %>  
        <div class="project-card">
            <h5 class="card-title"><p>Thread: <%= topic.title %> </p></h5>
            <h6 class="card-subtitle mb-2 text-muted"><p> Created: <%= time_ago_in_words(topic.created_at)  %> ago</p></h6>
            <p class="card-text"><%= topic.title.length > 80 ? topic.title[0..77] + '...' : topic.title %></p>
            <div class="action">
                <%= link_to "/projects/#{@project.id}/topic/#{topic.id}" do %>
                    <img src="https://img.icons8.com/windows/32/000000/talk-female.png">
                <% end %>
                <% if session[:id] == @project.user_id %>
                    <%= link_to "/projects/#{@project.id}/topic/#{topic.id}/edit" do %>
                        <img src="https://img.icons8.com/metro/26/000000/edit.png">
                    <% end %>
                <% end  %>
                <% if session[:id] == @project.user_id %>
                    <%= link_to "/projects/#{@project.id}/topic/#{topic.id}", data: {confirm: "Are you sure bout that"}, method: "delete" do %>
                        <img src="https://img.icons8.com/dusk/64/000000/delete-sign.png" style= "width: 30px">
                    <% end %>
                <% end  %>
            </div>
        </div>
    <% end %>
</div>
</div>
